#count {

    background-image:url(adelin-preda--tOr_T4qTpQ-unsplash.jpg);
    color:azure;
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;

}

#mainButtonDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#mainButton {
    background-color:#FFC07F;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border-style: hidden;
    color: #A5402D;
    font-size: 20px;

}

.Upgrade {
    width: 300px;
    border: 20px;
    background-color: rgb(225, 148, 117);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    animation-name: UpgradeHoverOut;
    animation-duration: 0.5s;
}

.Upgrade:hover {

    width: 310px;
    height: auto + 10px;
    border: 20px;
    background-color: brown;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    animation-name: UpgradeHoverIn;
    animation-duration: 0.5s;
    box-shadow: 15px 10px  #A5402D, 30px 20px  #F15156, 45px 30px  #FFC07F;

}

.price {
    margin: 10px;
}

.desc {
    margin: 0;
}

@keyframes UpgradeHoverIn {
    from {font-size: 13px; width: 300px; height: auto; box-shadow: 0px 0px  #A5402D, 0px 0px  #F15156, 0px 0px #FFC07F;}
    to {font-size: 13px; width: 310px; height: auto + 10px; box-shadow: 15px 10px  #A5402D, 30px 20px  #f15156, 45px 30px  rgb#FFC07F;}

}

@keyframes UpgradeHoverOut {
    from {font-size: 13px; width: 310px; height: auto + 10px; box-shadow: 15px 10px  #A5402D, 30px 20px  #f15156, 45px 30px  #FFC07F;}
    to {font-size: 13px; width: 300px; height: auto; box-shadow: 0px 0px;}
}

body {
    background-color: #f9ceb2;
    user-select: none;
}

.currencies {
    background-image: url(adelin-preda--tOr_T4qTpQ-unsplash.jpg);
    justify-content: space-between;
    white-space: nowrap;
}

.mainNumbers {
    width: fit-content;
    margin: 0;
    justify-content: space-between;
    vertical-align: middle;
}