body {
    padding: 0;
}

#block {
    background-color: black;
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 600px){

    #block {
        animation: big 5s infinite;
    }

}

@media screen and (max-width: 600px){

    #block {
        animation: bigg 5s infinite;
    }

}

@media screen and (min-width: 768px){

    #block {
        animation: biggg 5s infinite;
    }

}

@media screen and (min-width: 992px){

    #block {
        animation: bigggg 5s infinite;
    }

}

@media screen and (min-width: 1200px){
    
    #block {
        animation: biggggg 5s infinite;
    }

}

@keyframes big{
    0% {width: 0px; height: 0px;}
    50% {width: 100vw; height: 100vh;}
    100% {width: 0px; height: 0px;}
}

@keyframes bigg{
    0% {background-color: blue;}
    25% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: red;}
    100% {background-color: blue;}
}

@keyframes biggg{
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes bigggg{
    0% {margin-left: 0; background-color: blue; rotate: 0deg;}
    100% {margin-left: 50vw; background-color: red; rotate: 360deg;}
}

@keyframes biggggg{
    0% {margin: 0 0 0 0;}
    10% {margin: 0 0 0 100vw;}
    20% {margin: 100vh 0 0 100vw;}
}