body {
    background-color: rgb(110, 75, 45);
}

#mainGrid {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 243, 220);
    margin: 25px;
    margin-top: 275px;
    border-radius: 5px;
}

#gridContainer {

    border-radius: 10px;
    width: 550px;
    height: 800px;
    background-color: rgb(255, 173, 50);
    position: absolute;
    left: calc(50vw - 275px);
    top: calc(50vh - 350px);
}

.gridTiles {

}